<div id="particles-js">
  <div class="header">
      <h1>
        <span class="site-title">{{site.username}}</span>
        <span class="site-description">{{site.user_title}}</span>
      </h1>
      <div class="header-icons">
          <a aria-label="Send email" onclick="ga('send', 'event', 'Email Btn', 'click', 'send mail')" href="mailto:mdelgado@tresdoce.com.ar"><i class="icon fa fa-envelope"></i></a>
          <a aria-label="My Linkedin" onclick="ga('send', 'event', 'Social Btns', 'click', 'Linkedin')" target="_blank" href="https://www.linkedin.com/in/rudemex/"><i class="icon fa fa-linkedin" aria-hidden="true"></i></a>
          <a aria-label="My Instagram" onclick="ga('send', 'event', 'Social Btns', 'click', 'Instagram')" target="_blank" href="https://www.instagram.com/rudemex/"><i class="icon fa fa-instagram" aria-hidden="true"></i></a>
          <a aria-label="My Facebook" onclick="ga('send', 'event', 'Social Btns', 'click', 'Facebook')" target="_blank" href="https://www.facebook.com/rudemex/"><i class="icon fa fa-facebook" aria-hidden="true"></i></a>
          <a aria-label="My Twitter" onclick="ga('send', 'event', 'Social Btns', 'click', 'Twitter')" target="_blank" href="https://twitter.com/rudemex"><i class="icon fa fa-twitter" aria-hidden="true"></i></a>
          <!--<a aria-label="My Google Plus" target="_blank" href="#"><i class="icon fa fa-google-plus" aria-hidden="true"></i></a>-->
      </div>
      <!--<div class="header-links">
        <a class="link" href="#about" data-scroll>About Me</a>
        <a class="link" href="#projects" data-scroll>Projects</a>
      </div>-->
  </div>
  <a class="down" onclick="ga('send', 'event', 'Btns', 'click', 'arrow about')" href="#about" data-scroll><i class="icon fa fa-chevron-down" aria-hidden="true"></i></a>
</div>

